li {
  background: #f4f6f9;
  margin: 6px auto;
  padding: 10px 15px;
  border-radius: 8px;
  width: 260px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #dc3545;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background: #a71d2a;
}
